<nav class='navbar navbar-default bg-dark'>
  <div class='container-fluid'>
		<div class='navbar-header'>
			<a class='navbar-brand fs-1 p-3 text-white' href='/'>
				Charity Tracker
			</a>
		</div>
		<!-- <div class='pull-right'>
			<a href='/donations/new' class='btn btn-default navbar-btn'>New Donation</a>
		</div> -->
		<button type="button" class='rounded btn btn-success fs-4'>
			<a style="text-decoration: none; color: white;" href='/donations/new'>
				New Donation
			</a>
		</button>
  </div>
</nav>