<nav class='navbar navbar-default bg-dark py-3'>
  <div class='container-fluid'>
		<div class='navbar-header'>
			<a class='navbar-brand fs-2 p-3 text-white' href='/'>
				Charity Tracker
			</a>
		</div>
		
		<button type="button" class='rounded btn btn-success fs-4'>
			<a style="text-decoration: none; color: white;" href='/donations/new'>
				Add New Donation
			</a>	
		</button>

		<button type="button" class='rounded btn btn-primary fs-4'>
			<a style="text-decoration: none; color: white;" href='/charities'>
				View All Charities
			</a>
  </div>
</nav>