{% extends 'base.html' %}

{% block content %}
<h1 class="py-5 text-center">Charities</h1>
<div class='py-3 text-center'>
  <a href='/charities/new' class='btn btn-primary'>Add Charity</a>
</div>

<div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Charity Name</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for charity in charities %}
      <tr class='align-middle'>
        <td>{{ charity.charity_name }}</td>
        <td>{{ charity.charity_description }}</td>
        <td>
          <form method='POST' action='/charities/{{charity.charity_name}}/delete'>
            <button class="btn btn-danger" type='submit'>Delete Charity</button>
          </form>
        </td>
      </tr>
      {% endfor %}  
    </tbody>
  </table>
</div>

  
  
  
  
  <!-- {% for charity in charities %}
  <h1>{{ charity.charity_name }}</h1>
  <p>{{ charity.charity_description }}</p>


  <form method='POST' action='/charities/{{charity_name}}/delete'>
      <button class="btn btn-danger" type='submit'>Delete Charity</button>
  </form>

  {% endfor %} -->


{% endblock %}