{% extends 'base.html' %}

{% block content %}
  <div class="container d-flex flex-column justify-content-center align-items-center " style="height: 90vh;">
    <div class="card rounded p-3" style="width: 35rem; height: 45rem; background-color: black;">
      <div class="card-body d-flex flex-column justify-content-around">
        <form action="/donations" method="POST" class="d-flex flex-column justify-content-around" style="height: 100%">
          
          {% include 'partials/donations_form.html' %}
          
        </form>
      </div>
    </div>
  </div>
{% endblock %}
